/* =======================================================
   TABLE LAYOUT UTILITIES
   ======================================================= */

.nc-table-auto {
  table-layout: auto;
}

.nc-table-fixed {
  table-layout: fixed;
}

/* Width utilities for table cells */
.nc-table-w-auto {
  width: auto;
}

.nc-table-w-full {
  width: 100%;
}

.nc-table-w-1-2 {
  width: 50%;
}

.nc-table-w-1-3 {
  width: 33.333333%;
}

.nc-table-w-2-3 {
  width: 66.666667%;
}

.nc-table-w-1-4 {
  width: 25%;
}

.nc-table-w-3-4 {
  width: 75%;
}

.nc-table-w-1-5 {
  width: 20%;
}

.nc-table-w-2-5 {
  width: 40%;
}

.nc-table-w-3-5 {
  width: 60%;
}

.nc-table-w-4-5 {
  width: 80%;
}

/* Min-width for table cells */
.nc-table-min-w-0 {
  min-width: 0;
}

.nc-table-min-w-full {
  min-width: 100%;
}

/* Max-width for table cells */
.nc-table-max-w-none {
  max-width: none;
}

.nc-table-max-w-full {
  max-width: 100%;
}