/* =======================================================
   NESTCSS - LIST UTILITIES
   ======================================================= */

/* List Style Type */
.nc-list-none { list-style-type: none !important; }
.nc-list-disc { list-style-type: disc !important; }
.nc-list-decimal { list-style-type: decimal !important; }
.nc-list-circle { list-style-type: circle !important; }
.nc-list-square { list-style-type: square !important; }

/* List Style Position */
.nc-list-inside { list-style-position: inside !important; }
.nc-list-outside { list-style-position: outside !important; }

/* Content */
.nc-content-none { content: none !important; }